@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');

nav {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: hsl(7, 63%, 68%);
    border-radius: 0 0 10px 10px;
}

.header-title {
    margin: auto;
    color: black;
    font-family: 'Old Standard TT', serif;
    font-size: 1.8em;
}

