.player-wrapper {
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
    
    /* padding-top: 56.25% Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    margin: auto;
    width: 80%;
    height: 90%;
  }

  @media only screen and (max-width: 600px) {
    
      
  }