@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

:root {}


body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.App {
  border: 1px solid black;
  max-height: 100%;
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: hsl(51, 17%, 92%);
  font-family: sans-serif;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
  overflow: hidden;
  height: 450px;
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "section1 section2";
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.sourceLink {
  font-size: .8em;
  text-decoration: none;
  color: hsl(253, 100%, 59%);
  font-style: italic;
  font-weight: bold;
}

.generatedMeal {
  font-style: italic;
  font-weight: 700;
}

.ingredients {
  margin: auto;
  background-color: hsl(13, 36%, 85%);
  min-height: 300px;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "hero_title hero_title"
    "ingredientsList  measurementsList"
  ;

}

.hero_title {
  grid-area: hero_title;
  font-size: 1.5em;
}

.ingredientsList {
  line-height: 1;
  grid-area: ingredientsList;
  font-weight: 700;
  font-size: .8em;
}

.measurementsList {
  line-height: 1;
  grid-area: measurementsList;
  font-weight: 300;
  font-size: .8em;
}