@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
:root {

}

.App {
    font-family: sans-serif;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;;
  }

  .myButton {
    
  }

  .myButton:hover{
    background-color: none;
  }

  .generatedMeal {
    font-style:italic;
    font-weight: 700;
  }

  .ingredients {
    margin: auto;
    background-color: hsl(110, 93%, 84%);
    min-height: 300px;
    width: 80%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "hero_title hero_title"
    "ingredientsList  measurementsList"
    ;

  }

  .hero_title {
    grid-area: hero_title;
    font-size: 1.5em;
  }

  .ingredientsList {
    grid-area: ingredientsList;
    font-weight: 700;
  }
  .measurementsList {
    grid-area: measurementsList;
    font-weight: 300;
  }