@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

:root {}

* {
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
}

.App {
  border: 1px solid black;
  max-height: 100%;
  width: 100%;
  margin: auto;
  background-color: rgb(186, 226, 240);
  font-family: sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}

.main-container {
  margin: auto;
  display: grid;
  max-height: 100%;
  width: 80%;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 64px 370px 19.641288vw 100px 100px;
  grid-template-areas: 
  'header header header'
  'wrapper wrapper authorinfo'
  'instructions responsive-player authorinfo'
  'subscribe-form subscribe-form subscribe-form'
  'footer footer footer'
  ;
  gap: 10px 5px;
}

.header {
  grid-area: header;
  height: 100%;
}

.wrapper {
  grid-area: wrapper;
  max-height: 500px;
  display: grid;
  position: relative;
  grid-template-columns: 60% 40%;
  grid-template-areas: "section1 section2";
 background-color: white;
 border-radius: 10px;
}

.section1 {
  grid-area: section1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.recipeName {
  margin: 0;
  font-size: 1.5em;
  height: 18%;
}
.image-wrapper {
  height:70%;
  display: grid;
  place-items: center;
}

.recipe-details {
  max-height:30%
}

.meal-category-title {
  margin: 0;
}
                     
.myButton {
  border: 1px solid hsl(0, 0%, 0%);
  height: 30px;
  width: 25%;
  padding: 0;
  border-radius: 10px;
}

.myButton:hover {
  background-color: rgb(255, 255, 255);
  transition: .2s;
}

.sourceLink {
  font-size: .8em;
  text-decoration: none;
  color: hsl(253, 100%, 59%);
  font-style: italic;
  font-weight: bold;
}

.sourceLink:hover {
  text-decoration: underline;
}

.imageThumb {
  height: 200px;
  width: 200px;
  position: relative;

}

.section2 {
  grid-area: section2;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}


.generatedMeal {
  font-style: italic;
  font-weight: 700;
}

.ingredients {
  margin: auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "hero_title hero_title"
    "ingredientsList  measurementsList"
  ;
  overflow-y: auto;
  overflow-x: hidden;
}

.ingredients_title {
  grid-area: hero_title;
  font-size: 1.5em;
  margin: 0;
}

.ingredientsList {
  line-height: 1.2;
  grid-area: ingredientsList;
  font-weight: 700;
  font-size: .8em;

}

.measurementsList {
  line-height: 1.2;
  grid-area: measurementsList;
  font-weight: 300;
  font-size: .8em;
}

.instruct {
  grid-area: instructions;
  display: grid;
  place-items: center;
  background-color: hsl(51, 17%, 92%);
  
  overflow-x: hidden;
}

.responsive-player {
  grid-area: responsive-player;
}

.subscribeform {
  grid-area: subscribe-form;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: rgb(226, 202, 178);
  border: 1px solid hsl(0, 0%, 0%);
}

.footer {
  grid-area: footer;
}

.authorinfo {
  grid-area: authorinfo;
}

@media only screen and (max-width: 600px) {

  .main-container {

    grid-template-columns: 100%;
    grid-template-rows: 64px 
                        600px 
                        50.641288vw 
                        100px 
                        100px
                        100px
                        100px;
    grid-template-areas: 
    'header'
    'wrapper'
    'responsive-player'
    'instructions'
    'subscribe-form'
    'authorinfo'
    'footer'
    ;
    gap: 10px 0;
  }

  .wrapper {
    max-height: 600px;
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 390px
                        210px;
    grid-template-areas: "section1" 
                         "section2";
  }

  .section1 {
    
  }
  .section2 {
    
  }
}