.footer-wrapper {
    background-color: hsl(0, 0%, 7%);
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.footer-container {
    height: 80%;
    width: 80%;
    display: grid;
    place-items: center;
}


ul {
    display: grid;
    list-style-type: none;
    padding: 0;
    grid-template-columns: 100px 100px 100px;
    
}

ul li {
    width: 100%;
}

ul li a {
    color: white;
    font-size:2em;
}

@media only screen and (max-width: 600px) {
    ul {
        
        grid-template-columns: 70px 70px 70px;
        
    }
}